test/
run.sh
build/
work/
StRoot/
.sl73_gcc485/
temp_gccflags.c
*.list
*.dataset
*.dataset.tmp
*.zip
*.package
*.session.xml
submit_*.xml
txt/
scheduler/.nfs*
*.log
*.sh~
*.py~
*.xml~
*.mp3
*.pyc
*.d
*.so
*.root
*.txt~
*.cxx~
*.in~
*.h~
*.C~
*.list~
